{% load staticfiles %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Tamersen</title>
    <link href="{% static "style/style.css" %}" rel="stylesheet">
    <script  src="{% static "js/script.js" %}"></script>
    <link rel="icon" type="{% static "image/vnd.microsoft.icon" %}" href="img/favicon.ico">
</head>
<body>
<div id="wrapper">
    <header>
    <div id="logo">
        
    </div>
    </header>
    <nav>
        <ul class="navlist">
            <li><a href="/">главная</a></li>
            <li><a href="/books">книги</a></li>
            <li><a href="/blog">блог</a></li>
            <li><a href="/about">об авторе</a></li>
            <li><a href="/how-to-buy">как заказать?</a></li>
        </ul>
    </nav>
    <div id="wrContent">
        <section class="height">
            <h1>о сайте</h1>
        <div class ="text">
            <img src="{% static "img/lorem-ipsum-logo.jpg" %}" id="index" alt="logo">
            {% load flatblock_tags %}
            {% flatblock "index" %}
            </div>
        </section>

        <aside class="height">
            <div class="lastart">
                <span class="lastart-title">последние записи в блоге:</span>
                <div id="contentla">
                    <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                    <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                    <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                    <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                    <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                    <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                    <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                    <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                    <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                    <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                </div>
            </div>
            <div class="categor_sb">
                <span class="catsb-title">категории:</span>
                <div id="contentcat">
                    <p><a href="#">Lorem ipsum</a></p>
                    <p><a href="#">Lorem ipsum</a></p>
                    <p><a href="#">Lorem ipsum</a></p>
                    <p><a href="#">Lorem ipsum</a></p>
                </div>
            </div>

            <div class="social_sb">
                <span class="social-title">мы в социальных сетях:</span>
                <div id="contentsocial">
                    <div class="first">
                        <p><a href="#"><img src="{% static "img/g+.png" %}" class="gplus"></a></p>
                        <p><a href="#"><img src="{% static "img/fb.png" %}" class="fb"></a></p>
                        <p><a href="#"><img src="{% static "img/tw.png" %}" class="tw"></a></p>
                    </div>
                    <div class="second"> 
                        <p><a href="#"><img src="{% static "img/vk.png" %}" class="vk"></a></p>
                        <p><a href="#"><img src="{% static "img/mail.png" %}" class="mail"></a></p>
                        <p><a href="#"><img src="{% static "img/ok.png" %}" class="ok"></a></p>
                   </div>    
                </div>
            </div>
        </aside>
        <div class="clear">
        </div>
    </div>    
    <footer>
    <div class="footertext">
    все материалы на сайте защищены авторскими правами <br>
    и являются собственностью администрации сайта. <br>
    при копировании материалов сайты прямая ссылка на этот сайт обязательна. <br>
        © 2014
    </div>
    <div class="footerlogo">   
    <div id="admin"><a href="admin/" class="admin">Вход для сотрудников</a></div>
    </div>
    </footer>
</div>    
</body>
